= form_with(model: reservation) do |form|
  - if reservation.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(reservation.errors.count, "error")
        prohibited this reservation from being saved:
      %ul
        - reservation.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :reservation_date, style: "display: block"
    = form.date_field :reservation_date
    = form.select("seat_id", @available_seats.collect {|p| [ p.title.to_s, p.id ] }, { include_blank: false, prompt: "please select a seat" })
  %div
    = form.submit "Submit", class:"btn btn-primary mt-3"