%p{:style => "color: green"}= notice
%p
  %strong Reservation date:
%p
  Id:
  = @reservation.id
%p
  Reservation Date:
  = @reservation.reservation_date
%p
  Seat:
  = @reservation.seat.title
%p
  Morning:
  = @reservation.morning
%p
  Afternoon:
  = @reservation.afternoon
%br/
%div
  = link_to "Edit this reservation", edit_reservation_path(@reservation)
  |
  \#{link_to "Back to reservations", reservations_path}

  \#{button_to "Destroy this reservation", @reservation, method: :delete}
