%nav.navbar.navbar-expand-lg.navbar-dark.mb-5{:style => "background-color: #025177;"}
  .container
    %a.navbar-brand{:href => root_path}= t(".header_title")
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0

        - if user_signed_in?
          %li.nav-item
            %a.nav-link{:href => reservations_path}= "Reservations"

          %li.nav-item
            %a.nav-link{:href => edit_user_registration_path}= "Edit profile"

          %li.nav-item
            = link_to "logout", destroy_user_session_url, method: :delete, class: "nav-link"
        - else
          %li.nav-item
            %a.nav-link{"aria-current" => "page", :href => new_user_session_path}= t(".log_in")